.btn-gold, .btn-maroon, .btn-white
{
    height: fit-content;
    width: fit-content;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}

.btn-gold
{
    border: 1px solid goldenrod;
    background-color: goldenrod;
    color: white;
}

.btn-maroon
{
    border: 1px solid maroon;
    background-color: maroon;
    color: white;
}

.btn-white
{
    border: 1px solid maroon;
    background-color: white;
    color: maroon;
}

.btn-gold:hover
{
    border-color: maroon;
    color: maroon;
}

.btn-maroon:hover
{
    border-color: goldenrod;
    color: goldenrod;
}

.btn-white:hover
{
    background-color: maroon;
    color: white;
}

.btn-gold:disabled, .btn-maroon:disabled, .btn-white:disabled
{
    border-color: #ccc;
    background-color: #ccc;
    color: #666;
    cursor: default;
}

/* Add loading spinner for disabled buttons */
.btn-gold:disabled::after, .btn-maroon:disabled::after, .btn-white:disabled::after
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5em;
    height: 0.5em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    border: 2px solid #666;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}