.footer-container
{
    display: flex;
    flex-direction: column;
    background-color: #161618;
    align-items: center;
    text-align: center;
    border-top: 5px solid goldenrod;
    padding: 1em;
}

.footer-container h2
{
    color: maroon;
    font-size: 1.5rem;
}

.footer-container h3
{
    color: goldenrod;
    font-size: 0.8rem;
    padding-bottom: 1em;
}

.footer-container hr
{
    width: 100%;
    margin: 0;
}

.footer-container p
{
    font-size: 0.8rem;
    color: white;
}