.class-details-container
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em 2em;
    background-color: #eee;
}

.class-details-container a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 1em;
    gap: 0.5em;
}

.class-details-container a svg
{
    stroke: #333;
    width: 1.5em;
    height: auto;
}

.class-details-container a p
{
    color: #333;
    font-size: 1.1em;
}

.class-details-card
{
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
    border: 1px solid maroon;
    border-top: 10px solid maroon;
    border-radius: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.class-details-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.class-details-header h1
{
    color: maroon;
    font-size: 2em;
}

.class-details-header h2
{
    color: goldenrod;
    font-size: 1.5em;
}

.class-details-header h3
{
    font-size: 1.2em;
    color: #333;
}

.class-details-container hr
{
    width: 100%;
    border-color: gray;
    margin: 0;
}

.class-details-columns
{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    border: 2px solid black;
}

.class-details-columns .left-column
{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.class-details-columns .right-column
{
    display: flex;
    flex-direction: column;
    width: 25%;
    border-left: 2px solid black;
}

.class-details-columns .class-details
{
    display: flex;
    width: 100%;
    padding: 1em;
    border-bottom: 2px solid black;
    justify-content: flex-start;
    gap: 4em; 
}

.class-details-columns .class-details p
{
    font-size: 1em;
    margin-bottom: 0.5em;
}

.class-details-columns .class-details span
{
    color: maroon;
}

.class-details-columns .column-header
{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em;
    gap: 0.5em;
    background-color: maroon;
}

.class-details-columns .column-header svg
{
    width: 1.1em;
    height: auto;
    stroke: white;
    fill: white;
}

.class-details-columns .column-header h3
{
    font-size: 1.1em;
    color: white;
    font-weight: 500;
}

.column-header .btn-upload-sdd
{
    display: flex;
    margin-left: auto;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-size: 0.9em;
    background-color: white;
    color: maroon;
    cursor: pointer;
    gap: 0.5em;
}

.column-header .btn-upload-sdd svg
{
    fill: maroon;
}

.column-header .btn-upload-sdd:hover
{
    background-color: goldenrod;
    color: white;
}

.column-header .btn-upload-sdd:hover svg
{
    fill: white;
}

#modal-blur-background
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 9999; 
}

#submit-sdd-modal, 
#delete-modal
{
    display: none; 
    position: fixed; 
    flex-direction: column;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10000; 
    background-color: white; 
    padding: 1em 2em; 
    padding-bottom: 2em;
    border: 1px solid goldenrod;
    border-top: 10px solid goldenrod;
    border-radius: 1em; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 90%; 
    max-width: 500px; 
}

#delete-modal
{
    border: 1px solid maroon;
    border-top: 10px solid maroon;
}

#submit-sdd-modal h2,
#delete-modal h2
{
    font-size: 1.5em;
    margin-bottom: 1em;
}

#submit-sdd-modal p,
#delete-modal p
{
    font-size: 1em;
    margin-bottom: 0.5em;
}

#submit-sdd-modal input::file-selector-button
{
    background-color: goldenrod;
    color: white;
    margin-right: 1em;
    padding: 1em;
    border: none;
    border: 1px solid white;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: 600;
}

#submit-sdd-modal input
{
    border: 1px solid gray;
    border-radius: 0.5em;
    background-color: #eee;
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 2em;
}

#submit-sdd-modal button
{
    background-color: goldenrod;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

#delete-modal button
{
    background-color: white;
    color: maroon;
    margin-top: 2em;
    padding: 1em 2em;
    border: 1px solid maroon;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

#delete-modal button:hover
{
    background-color: maroon;
    color: white;
}

#submit-sdd-modal button:disabled,
#delete-modal button:disabled
{
    background-color: #ccc;
    color: #666;
    cursor: default;
}

#submit-sdd-modal button:disabled::after,
#delete-modal button:disabled::after
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5em;
    height: 0.5em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    border: 2px solid #666;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

#submit-sdd-modal svg,
#delete-modal svg
{
    width: 1.5em;
    height: auto;
    margin-left: auto;
    fill: red;
    cursor: pointer;
}

#submit-sdd-modal .form-error,
#delete-modal .form-error
{
    width: 100%;
    align-self: center;
    text-align: center;
    color: red;
    margin-bottom: 1em;
}

#submit-sdd-modal .form-success,
#delete-modal .form-success
{
    width: 100%;
    align-self: center;
    text-align: center;
    color: green;
    margin-bottom: 1em;
}

#evaluation-results-modal
{
    display: none; 
    position: fixed; 
    flex-direction: column;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10000; 
    background-color: white; 
    padding: 1em 2em; 
    padding-bottom: 2em;
    border: 1px solid maroon;
    border-top: 10px solid maroon;
    border-radius: 1em; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 90%; 
    max-width: 60%; 
    max-height: 80vh;
}

.er-close
{
    width: 1.3em;
    height: auto;
    margin-left: auto;
    fill: red;
    cursor: pointer;
    flex-shrink: 0;
}

.er-header
{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 0.5em;
    flex-shrink: 0;
}

.er-header-a
{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.er-header-a h1
{
    color: maroon;
}

.er-header-b
{
    width: 30%;
    align-self: center;
    justify-items: flex-end;
}

.green-total
{
    color: green;
}

.red-total
{
    color: red;
}

#evaluation-results-modal hr
{
    width: 90%;
    margin-bottom: 0.5em;
    border-color: maroon;
}

.er-body
{
    display: flex;
    width: 90%;
    align-self: center;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    gap: 1em;
}

.section-card
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #333;
    border-radius: 0.5em;
    padding: 1em 2em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.section-card-header
{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0.5em;
}

.section-card-header svg
{
    margin-right: 1em;
    width: 1.5em;
    height: auto;
}

.section-card-header h3
{
    font-size: 1.1em;
}

.section-card-header p
{
    margin-left: auto;
}

.section-card-header-a svg
{
    fill: green;
}

.section-card-header-a h3,
.section-card-header-a p
{
    color: green;
}

.section-card-header-b svg
{
    fill: red
}

.section-card-header-b h3,
.section-card-header-b p
{
    color: red;
}

.section-card-body
{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.section-card-body h4
{
    margin-bottom: 0.5em;
}

.section-card-body p
{
    margin-bottom: 1em;
    padding-left: 0.5em;
    line-height: 1.5;
}

#sdd-ai-modal
{
    display: none; 
    position: fixed; 
    flex-direction: column;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10000; 
    background-color: white; 
    padding: 1em 2em; 
    padding-bottom: 2em;
    border: 1px solid maroon;
    border-top: 10px solid maroon;
    border-radius: 1em; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 50%; 
}

#sdd-ai-modal .form-error,
#sdd-ai-modal .form-success
{
    width: 100%;
    margin: 0;
    margin-top: 1em;
    font-size: 1.1em;
}

.sdd-ai-close
{
    width: 1.3em;
    height: auto;
    margin-left: auto;
    fill: red;
    cursor: pointer;
    flex-shrink: 0;
}

#sdd-ai-modal h2
{
    color: maroon;
    margin-bottom: 0.5em;
}

.evaluation-tips
{
    margin: 2em 0;
    padding: 1em 1.5em 2em 1.5em;
    border-radius: 0.5em;
    border: 1px solid #666;
    background-color: lightblue;
}

.evaluation-tips h3
{
    color: maroon;
    margin-bottom: 0.5em;
}

.evaluation-tips ul
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.evaluation-tips li
{
    line-height: 1.5;
}

.evaluation-loading
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
}

.evaluation-loading img
{
    width: 10em;
    position: relative;
    animation: moveLeftToRight 7s linear infinite; 
    margin-bottom: 1em;
}

@keyframes moveLeftToRight
{
    0% { left: -10em; }
    100% { left: 100%; }
}

.evaluation-loading h3
{
    align-self: center;
    color: goldenrod;
    margin-bottom: 0.5em;
}

.evaluation-loading p
{
    align-self: center;
}

.sdd-ai-buttons
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.sdd-ai-buttons button
{
    width: 40%;
    padding: 0.5em 0;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.sdd-ai-buttons button:first-child
{
    background-color: white;
    color: maroon;
    border: 3px solid maroon;
}

.sdd-ai-buttons button:last-child
{
    background-color: maroon;
    color: white;
    border: 3px solid maroon;
}

.sdd-ai-buttons button:disabled
{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    border: 3px solid #333;
}

.evaluation-loading p span 
{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    border: 3px solid goldenrod;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    vertical-align: middle;
}

#update-feedback-modal, #view-feedback-modal
{
    display: none; 
    position: fixed; 
    flex-direction: column;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10000; 
    background-color: white; 
    padding: 1em 2em; 
    padding-bottom: 2em;
    border: 1px solid goldenrod;
    border-top: 10px solid goldenrod;
    border-radius: 1em; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 90%; 
    max-width: 500px; 
}

.feedback-close
{
    width: 1.3em;
    height: auto;
    margin-left: auto;
    fill: red;
    cursor: pointer;
    flex-shrink: 0;
}

#update-feedback-modal h2
{
    color: goldenrod;
    margin-bottom: 0.5em;
}

#update-feedback-modal .feedback-inputs
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2em 0;
}

#update-feedback-modal label
{
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 1em;
}

#update-feedback-modal textarea
{
    resize: none;
    font-size: 1em;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    background-color: #eee;
}

#update-feedback-modal textarea:focus
{
    outline-color: goldenrod;
    background-color: white;
}

.feedback-like
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-like p
{
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

.toggle-dislike
{
    background-color: red;
    color: white
}

.toggle-like
{
    background-color: green;
    color: white;
}

#update-feedback-modal .form-error,
#update-feedback-modal .form-success
{
    width: 100%;
}

#update-feedback-modal button
{
    font-size: 1em;
    font-weight: 600;
    padding: 1em 0;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

#view-feedback-modal h2
{
    color: goldenrod;
    margin-bottom: 0.5em;
}

.feedback-content
{
    margin-top: 1em;
}

.feedback-content h3
{
    margin-bottom: 0.5em;
}

.feedback-text, .no-feedback
{
    display: flex;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #eee;
}

#view-feedback-modal button
{
    font-size: 1em;
    font-weight: 600;
    margin-top: 1.5em;
    padding: 1em 0;
    background-color: white;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: 0.5em;
    cursor: pointer;
}

.rating-like,
.rating-dislike,
.no-rating
{
    display: flex;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 1em;
    align-items: center;
    gap: 1em;
}

.rating-like
{
    background-color: green;
    color: white;
}

.rating-dislike
{
    background-color: red;
    color: white;
}

.no-rating
{
    background-color: #eee;
}

/* Responsive adjustments */
@media (max-width: 1024px)
{
    .class-details-container
    {
        padding: 1.5em;
    }

    .class-details-card
    {
        padding: 1em 2em;
    }

    .class-details-header h1
    {
        font-size: 1.8em;
    }

    .class-details-header h2
    {
        font-size: 1.3em;
    }

    .class-details-columns .left-column,
    .class-details-columns .right-column
    {
        width: 100%; /* Stack columns vertically */
        border: none; /* Remove border between columns */
    }

    .class-details-columns
    {
        border: none; /* Remove outer border */
    }

    .class-details-columns .left-column div:nth-child(2)
    {
        border: none;
    }

    .class-details-columns .class-details
    {
        flex-direction: column; /* Stack details vertically */
        padding: 0.8em;
        gap: 0;
    }

    .class-details-columns .class-details p
    {
        font-size: 0.9em;
    }
}

@media (max-width: 768px)
{
    .class-details-container
    {
        padding: 1em;
    }

    .class-details-card
    {
        padding: 1em;
    }

    .class-details-header h1
    {
        font-size: 1.5em;
    }

    .class-details-header h2
    {
        font-size: 1.2em;
    }

    .class-details-header h3
    {
        font-size: 1em;
    }

    .class-details-columns .column-header
    {
        padding: 0.8em;
    }

    .class-details-columns .column-header h3
    {
        font-size: 1em;
    }

    .class-details-columns .class-details
    {
        padding: 0.5em;
    }

    .class-details-columns .class-details p
    {
        font-size: 0.8em;
    }
}

@media (max-width: 480px)
{
    .class-details-container
    {
        padding: 0.5em;
    }

    .class-details-card
    {
        padding: 0.5em;
    }

    .class-details-header h1
    {
        font-size: 1.2em;
    }

    .class-details-header h2
    {
        font-size: 1em;
    }

    .class-details-header h3
    {
        font-size: 0.9em;
    }

    .class-details-columns .column-header
    {
        padding: 0.5em;
    }

    .class-details-columns .column-header h3
    {
        font-size: 0.9em;
    }

    .class-details-columns .class-details
    {
        padding: 0.3em;
    }

    .class-details-columns .class-details p
    {
        font-size: 0.7em;
    }
}