.form-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 33%;
    padding: 2em;
    padding-bottom: 3em;
    border: 1px solid maroon;
    border-top: 10px solid maroon;
    border-radius: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container img
{
    width: 3em;
    margin-bottom: 0.5em;
}

.form-header
{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-self: center;
    text-align: center;
    text-decoration: none;
}

.form-header h2
{
    font-size: 2em;
    color: maroon;
}

.form-header h3
{
    font-size: 1em;
    color: goldenrod;
}

.form-label 
{
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    gap: 0.6em;
}

.form-label svg
{
    stroke: maroon;
    width: 1.1em;
    height: auto;
}

.form-label label
{
    color: maroon;
    font-size: 1em;
}

.form-input, .form-select
{
    width: 90%;
    margin-bottom: 2em;
    padding: 0.75em;
    border: 1px solid gray;
    border-radius: 0.5em;
    background-color: #eee;
    font-size: 0.9em;
}

.form-input:focus, .form-select:focus
{
    outline-color: goldenrod;
    background-color: white;
}

/* Toggle Password Visibility */
.toggle-password-container
{
    position: relative;
    width: 90%;
    margin-bottom: 2em;
}

.toggle-password-container .form-input
{
    width: 100%;
    margin-bottom: 0;
    padding-right: 3em;
}

.toggle-password-icon
{
    position: absolute;
    top: 50%;
    right: 0.75em;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: maroon;
    cursor: pointer;
    transition: color 0.3s ease;
}

.toggle-password-icon:hover
{
    color: goldenrod;
}

/* Responsive styles */
@media (max-width: 1024px)
{
    .form-container
    {
        width: 50%;
        padding: 1.5em;
    }

    .form-header h2
    {
        font-size: 1.8em;
    }

    .form-header h3
    {
        font-size: 0.9em;
    }

    .form-input, .form-select
    {
        font-size: 0.85em;
    }
}

@media (max-width: 768px)
{
    .form-container
    {
        width: 70%;
        padding: 1em;
    }

    .form-header h2
    {
        font-size: 1.6em;
    }

    .form-header h3
    {
        font-size: 0.8em;
    }

    .form-input, .form-select
    {
        font-size: 0.8em;
    }
}

@media (max-width: 480px)
{
    .form-container
    {
        width: 90%;
        padding: 0.8em;
    }

    .form-header h2
    {
        font-size: 1.4em;
    }

    .form-header h3
    {
        font-size: 0.7em;
    }

    .form-input, .form-select
    {
        font-size: 0.75em;
    }
}