.verify-container
{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    min-height: 90vh;
    align-items: center;
    justify-items: center;
    background-color: #EEE;
}

.verify-container h1
{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: maroon;
}

.verify-container p
{
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
}

.verify-container form
{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 3em 2em;
    border: 1px solid goldenrod;
    border-top: 10px solid goldenrod;
    border-radius: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.verify-container label
{
    font-weight: 600;
    font-size: 1em;
    color: maroon;
    margin-bottom: 1em;
}

.verify-container input
{
    padding: 0.6em 1em;
    margin-bottom: 3em;
    border: 1px solid gray;
    border-radius: 0.5em;
    font-size: 1em;
    background-color: #EEE;
}

.verify-container input:focus
{
    outline-color: gold;
    background-color: white;
}

.verify-container .btn-gold
{
    width: 100%;
    align-self: center;
    margin-bottom: 2em;
}

.verify-container form div
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.verify-container form div span
{
    margin: 0;
    font-size: 0.9em;
}

.verify-container form div span:last-child
{
    font-weight: 600;
    color: maroon;
    cursor: pointer;
}
